.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 35%;
}

.welcomeText {
  font-size: 23px;
  color: white;
}

.clubName {
  font-size: 50px;
  color: #00c8ff;
  font-weight: 700;
}

.text {
  font-size: 17px;
  color: #d2d2d2;
}

.clubDescription {
  font-size: 17px;
  color: #8e8e8e;
}
