/* App.css */
body {
    margin: 0; /* Removes default body margin */
    padding: 0;
  }
  
  .app-container {
    background-color: #0B0E19; /* Dark blue background */
    color: #FFFFFF; /* White text color */
    height: 100vh; /* Full viewport height */
    display: flex;
  }
  